body {
    font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
    font-size: 20px;
}

div.pbk {
    page-break-before: always;
}

div.block {
    border: solid black 1px;
    width: 685px;
    padding: 2px;
    /*height: 800px;*/
}

div#qheader {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

div.status {
    border: solid black 1px;
    padding: 0px;
    margin: 0px;
    height: 30px;
    padding: 1px;
}

span#remaining {
    /*border: solid black 1px;*/
    float: right;
}
span#ir_count {
    /*border: solid black 1px;*/
    float: left;
}

p, input.i, span.c {
    font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
    font-size: 20px;
    white-space: pre-wrap;
    padding: 0px;
    letter-spacing: 7px;
    line-height: 40px;
}

span.c {   /* 单个不可输入字符 */
    border: solid white 1px;
    width: 8px;
    margin: 1px; 
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    background-color: white;
    cursor: text;
}

p span.cc {   /* 单个不可输入字符 */
    width: 18px;
}


span.s {   /* 单个可输入字符，边框 */
    border: solid gray 1px;
    width: 13px;
}

span.f {    /* 获得焦点时，边框变色 */
    border: solid blue 1px;
    background-color:aliceblue; 
}

span.x {    /* 错误答案时，用红色显示 */
    color: red;
    background-color:yellow; 
}

input.i { /* 浮动输入框 */
    border: solid gray 0px;
    width: 0px;
    /*margin: 1px; */
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    background-color: white;
    cursor: text;
    line-height: 38px;
    outline:none;
    background-color:aliceblue; 
}

input.i:focus { 
    /* background-color:yellow; */
}


input.l, span.l {
    text-transform: lowercase;
}

input.u, span.u {
    text-transform: uppercase;
}

span.w {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block; /* inline 会让它不按词换行 */
    text-align: start;
    background-color: white;
    cursor: text;
}

div#dict table {
  border-spacing: 0px;
}

div#dict td {
  vertical-align: top;
  border: solid black 1px;
}

@media screen {

    div#question.normal {
        display: none;
    }

    div#answer.normal {
        display: block;
    }

    div#dict.normal {
        display: block;
    }

    div#question.exam {
        display: block;
    }

    div#answer.exam {
        display: none;
    }
    
    div#dict.exam {
        display: none;
    }
    
    div#question.finish {
        display: block;
    }

    div#answer.finish {
        display: none;
    }
    
    div#dict.exam {
        display: none;
    }
}

@media print {
    
    /* https://blog.csdn.net/qq_22552085/article/details/79483070 CSS控制打印的样式设计 */
    
    div#header {
        display: none;
    }
    
    div#question.normal {
        display: block;
        border: none;
    }

    div#answer.normal {
        display: block;
        page-break-before: always;
        border: none;
    }
    
    div#dict.normal {
        display: block;
        page-break-before: always;
        border: none;
    }

    div#question.exam {
        display: block;
        border: none;
    }

    div#answer.exam {
        display: none;
        border: none;
    }
    
    div#dict.exam {
        display: none;
        border: none;
    }
    
    div#question.finish {
        display: block;
        border: none;
    }

    div#answer.finish {
        display: none;
        border: none;
    }
    
    div#dict.finish {
        display: none;
        border: none;
    }
}